@{
    ViewBag.Title = "About";
}

<h2>Über uns</h2>

<p>
    Bereits in den Jahren 1957 – 1958 errichteten unsere Eltern und Großeltern eine kleine Jausenstation <br />
    bzw. ein Ausflugsgasthaus namens Infang, die in den Sommermonaten betrieben wurde und sowohl von den Einheimischen<br />
    und den Gästen gerne besucht wurde. Bereits damals haben vereinzelt Sommerurlauber in den an die Jausenstation angrenzenden Wäldchen, <br />
    das sich von seiner natürlichen Beschaffenheit als idealer Campingplatz angeboten hat, ihre Zelte aufgeschlagen.<br />
    <br />
    Das Jahr 1959 ist als Gründungsjahr des "Camping Ötztal" anzusehen. Damals hat unser Vater und Großvater ein kleines Sanitärhäuschen errichtet, <br />
    mit dem dann in den Sommermonaten der Campingplatzbetrieb aufgenommen worden ist. Betreut wurde der Platz über die Jausenstation, <br />
    wo sich die Gäste anmelden konnten. Die äußeren Umstände waren damals äußerst bescheiden, die mit den heutigen Verhältnissen nicht verglichen werden können. <br />
    Der Platz, der nur in den Sommermonaten geöffnet hatte, war nur von sogenannte "Zelteler" (Urlauber mit Zelten), besiedelt, <br />
    Caravans und Wohnmobile waren damals noch gänzlich unbekannt.
    <br />
    Fließendes Wasser gab es in den ersten Jahren (der Gründungszeit) des Campingplaztes nur von einem durch den Platz fließenden Bächlein<br />
    und das Trinkwasser musste in den ersten zwei Jahren von einen nahe gelegenen Quelle geholt werden. Auch gab es damals weder in der Jausenstation <br />
    noch am Campingplatz elektrischen Strom und man musste sich am Abend und in der Nacht am Weg zum Sanitärhäuschen mit Gaslampen und den Taschenlampen behelfen.<br />
    Auch gab es bis Mitte der 60-Jahre nur Trockenklos.
</p>