
@{
    ViewBag.Title = "Admin";
}

<h2>Impressum</h2>


<h5>Informationspflicht laut E-Commerce-Gesetz § 5 Abs. 1</h5>

<p>
    Firmenname:
    Camping Tiefental
    „Roppnerhof“
    <br />
    Inhaber:
    Georg Köll
    <br />
    Straße:
    Tiroler Straße 121
    <br />
    PLZ:
    6408
    <br />
    Ort:
    Pettnau
    <br />
    Land:
    Austria
    <br />
    Mobil:
    +43 664 4663003
    <br />
    Email:
    doriskoell@aon.at
    <br />
    Internet:
    www.camping-tiefental.at
    <br />
    UID:
    ATU 3120 9304
    <br />
    Die auf den Internetseiten des Camping Rossbach wiedergegebenen Inhalte dienen,<br />
    trotz eingehender Recherche und Aufarbeitung, lediglich zur Information. Für dennoch enthaltene Fehler kann keine wie immer geartete Haftung übernommen werden.<br />
    Weiters erklärt sich der Camping Rossbach als nicht verantwortlich für den Inhalt von Internetseiten, auf die mit einem Link verwiesen wird.
</p>
