@{
    ViewBag.Title = "Home Page";
}

<h1>Herzlich Willkommen</h1>
<h3>Campingplatz in Innsbruck</h3>
<p>
    Aufgrund der weiterhin rasanten Ausbreitung des Coronavirus <br />
    bleibt das Hotel und der Campingplatz bis auf weiteres geschlossen. <br />
    Dies ist eine behördliche Anweisung und wir tun alles Notwendige, <br />
    um unsere Regierung beim Kampf gegen die Ausbreitung des Virus zu unterstützen.
</p>
<p></p>