
@{
    ViewBag.Title = "Infos";
}

<h2>Infos</h2>

<p>
 Raum und Zeit zum Durchatmen und Entspannen.<br />
 Der Platz bietet eine Gesamtfläche von 28000 m² mit 137 Stellplätzen. <br />
 Darunter können Sie zwischen Stellplätzen von 80 bis 100 m² wählen. <br />
 Im Sommer atmen Sie die erhitzte wohltuende Bergluft und können tief durchatmen – sogar die Allergiker, <br />
 denn Leutasch liegt auf ca 1200 Höhenmetern und ist daher nahezu pollenfrei. <br />
 Im Winter genießen Sie als Kontrast zur kalten Winterluft die wohlige Wärme der Sauna und Wasserspaß im Hallenbad.
</p>