#container {
    min-width: 800px;
    width: 100%;
    margin: 0px auto;
}

header {
    
}

nav {
    min-width: 140px;
    width: 20%;
    float: left;
    min-height: 500px;
    padding: 20px 5px 10px 10px;
}

content {
    min-width: 500px;
    width: 80%;
    float: right;
    min-height: 500px;
    border-left: 1px solid #000000;
    padding: 10px;
}

footer {
    clear: both;
    border-top: 1px solid #000000;
    text-align: right;
    padding: 5px 10px;
}

.nav_level1 {
    font-size: 1.2em;
    font-weight:bold;
}

.nav_level2 {
    font-size: 1em;
    padding-left: 10px;
}


.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgheader {
    width 100%;
}
